@page
@model DraughtSurveyWebApp.Areas.Identity.Pages.Account.ResendEmailConfirmationConfirmationModel
@{
    ViewData["Title"] = "Confirmation email resent";
}

<h1>Confirmation email has been sent</h1>

<p>
    Please check your inbox.
</p>
