@model DraughtSurveyWebApp.ViewModels.DeductiblesInputViewModel

@{
    ViewData["Title"] = "Edit Deductibles";
}

    <form asp-action="Edit">

    <div class="row">
        <div class="col-6">
            <h4>Edit Deductibles</h4>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <hr />


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="InspectionId" />
        <input type="hidden" asp-for="DraughtSurveyBlockId" />

        <div class="row">
            <h6>Initial Deductibles</h6>
            <hr />
            <div class="col-md-6">
                <div class="form-group mb-2">
                    <label asp-for="Ballast" class="control-label small-label"></label>
                    <input asp-for="Ballast" class="form-control" type="number" step="0.001"/>
                    <span asp-validation-for="Ballast" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="FreshWater" class="control-label small-label"></label>
                    <input asp-for="FreshWater" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="FreshWater" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="FuelOil" class="control-label small-label"></label>
                    <input asp-for="FuelOil" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="FuelOil" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="DieselOil" class="control-label small-label"></label>
                    <input asp-for="DieselOil" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="DieselOil" class="text-danger"></span>
                </div>
                
                <div class="form-group mb-2">
                    <label asp-for="LubOil" class="control-label small-label"></label>
                    <input asp-for="LubOil" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="LubOil" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Others" class="control-label small-label"></label>
                    <input asp-for="Others" class="form-control" type="number" step="0.001" />
                    <span asp-validation-for="Others" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="TotalDeductibles" class="small-label"></label>
                    <input class="form-control bg-light" value="@Model.TotalDeductibles?.ToString("0.000")" readonly />                    
                </div>
            </div>
        </div>
        
    </form>


@* <div>
    <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId">Back</a>
</div> *@