@model DraughtSurveyWebApp.ViewModels.VesselInputViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-7">
                    <h4>Edit Vessel's Information</h4>
                </div>
                <div class="col-5 text-end">
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                    <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </div>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InspectionId"/>

            <div class="form-group">
                <label asp-for="IMO"></label>
                <input asp-for="IMO" class="form-control bg-light" readonly />
                <span asp-validation-for="IMO" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LBP"></label>
                <input asp-for="LBP" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="LBP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BM"></label>
                <input asp-for="BM" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="BM" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LS"></label>
                <input asp-for="LS" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="LS" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SDWT"></label>
                <input asp-for="SDWT" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="SDWT" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeclaredConstant"></label>
                <input asp-for="DeclaredConstant" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="DeclaredConstant" class="text-danger"></span>
            </div>

            
        </form>
    </div>
</div>

@* <div>
    <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.InspectionId">Back</a>
</div> *@