@model DraughtSurveyWebApp.ViewModels.InspectionEditViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">

            <div class="row">
                <div class="col-6">
                    <h4>Edit Inspection</h4>
                </div>
                <div class="col-6 text-end">
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Inspections" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VesselName" class="control-label">Vessel</label>
                <input asp-for="VesselName" class="form-control" />
                <span asp-validation-for="VesselName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label">Port</label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyReference" class="control-label">File Reference</label>
                <input asp-for="CompanyReference" class="form-control" />
                <span asp-validation-for="CompanyReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationType" class="control-label">Operation Type</label>
                <select asp-for="OperationType" class="form-control" asp-items="Html.GetEnumSelectList<OperationType>()"></select>
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="notShowInputWarnings" class="form-check-input" type="checkbox" />
                <label asp-for="notShowInputWarnings" class="form-check-label">Do not show input warnings</label>
            </div>                        
            <div class="form-group">
                <input asp-for="notApplyAutoFillingHydrostatics" class="form-check-input" type="checkbox" />
                <label asp-for="notApplyAutoFillingHydrostatics" class="form-check-label">Do not apply auto-filling of hydrostatic</label>
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
