@{
    ViewData["Title"] = "Gallery";
}


<div class="container mt-4">
    <h1 class="h4 mb-3">Gallery</h1>
    <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20240816_163002.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20240816_163439.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20240816_163548.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20240816_163832.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20240816_164015.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250221_140136.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250224_105354.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_142223.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_142329.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250225_142428.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250226_081948.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250228_075025.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250301_125634.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_073738.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_140844.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_140917.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_140949.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141053.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141058.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141155.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141200.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141247.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250303_141343.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073150.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073210.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073243.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073336.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073341.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073438.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073444.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073501.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_073544.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_125558.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_125613.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_202157.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_202210.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_202318.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_202322.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250304_202438.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_151957.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152129.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152449.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152501.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152721.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152743.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250307_152748.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250316_111106.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250617_133944.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133018.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133042.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133125.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250619_133210.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="~/images/gallery/20250627_074234.jpg" class="img-fluid rounded shadow-sm gallery-img" alt="Draught reading" loading="lazy">
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0">
            <img id="modalImage" src="" class="img-fluid rounded shadow" alt="Full image">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const modal = new bootstrap.Modal(document.getElementById("imageModal"));
            const modalImg = document.getElementById("modalImage");

            document.querySelectorAll(".gallery-img").forEach(img => {
                img.addEventListener("click", () => {
                    modalImg.src = img.src;
                    modal.show();
                });
            });
        });
    </script>
}